@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Mono' , monospace;
    background-color: #282a37;
    color: #fff;
}
::selection {
    background-color: #15181caa;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 60px;
    margin-top: 10px;
    color: #fff;
    z-index: 2;
}
.color-1 {
    color: #babbbe;
}
.color-2 {
    color: #1d90f4;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2329;
    color: #a4b2bd;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
.btn:hover {
    background-color: #15181c;
}
.btn img {
    width: 30px;
}
.btn span {
    margin-left: 10px;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #323645;
    border-radius: 15px;
    box-shadow: 0 0 10px 4px #373b4870;
    width: 450px;
    height: 500px;
    margin: 5px auto;
}
.content {
    display: flex;
    margin-top: -20px;
}
.label p {
    margin-top: 9px;
}
.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 55px;
}
.inputs input {
    margin-top: 14.5px;
}
.num p {
    margin-top: 9px;
}
.output {
    margin-top: 55px;
}
textarea {
    overflow: hidden; 
    word-wrap: break-word; 
    outline: none;
    resize: none; 
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1d90f4;
    color: #fff;
    font-size: 15px;
    padding-top: 15px;
    width: 350px;
}
.storang {
    margin-top: 12px;
    width: 345px;
    border-radius: 20px;
    background-color: #fff;
}
.storang-value {
    transition: .5s;
    width: 50%;
    height: 10px;
    border-radius: 18px;
    background-color: orange;
}
.btns {
    margin-top: 55px;
}
.btns button {
    width: 165px;
    height: 60px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    transition: .2s;
    cursor: pointer;
}
.copy {
    background-color: transparent;
    border: 1px solid #1d90f4;
}
.copy:hover {
    background-color: #1d90f4;
    box-shadow: 0 0 0 7px #1d90f437;
}
.copied {
    background-color: #38ef7d;
    border: 1px solid #38ef7d;
}
.copied:hover {
    box-shadow: 0 0 0 7px #38ef7e28;
}
.generate {
    background-color: #1d90f4;
    border: 1px solid #1d90f4;
    margin-left: 8px;
}
.generate:hover {
    background-color: transparent;
    box-shadow: 0 0 0 7px #1d90f437;
}
.footer-txt {
    margin-top: 30px;
    text-align: center;
}
.footer-txt a {
    text-decoration: none;
    color: #1d90f4;
    transition: .2s;
}
.footer-txt a:hover {
    color: #125ea0;
} 
.visible {
    display: none;
}
@media screen and (max-width : 700px) {
    .header-left {
        display: none;
    }
    header {
        justify-content: center;
    }
    .container {
        width: 350px;
    }
    input {
        width: 120px;
    }
    textarea  {
        width: 270px;
    }
    .storang {
        width: 270px;
    }
    .btns button {
        width: 130px;
    }
}
